<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2>Angelscent Candles</h2>
                    <p>Angelscent Candles are meant to be a direct representation of us.  All of our candles come inside of a solid woodbox, which for Angelscent represents the body with the light inside, so if you haven't realized this, we want to help you find that light and help you get Lit!</p>
                    <button>Add To Cart</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    <img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/shop-in-light-in.png?v=1662976523" alt="about-img">
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}