<section class="home-banner shop-banner" style="background-image: url('https://cdn.shopify.com/s/files/1/0654/6368/1240/files/shop-banner.png?v=1662705201')">
  <div class="container">
      <div class="arrow-down">
          <a href="#welcome-anglescent"><img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/shop-arrow-down.png?v=1662705545" alt="shop-arrow-down"></a>
      </div>
  </div>
</section>


{% schema %}
  {
    "name": "About banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}