<section class="about-us shop-about-us about-angelscent-bg" style="background-image: url('images/about-angelscent-bg.png');" id="welcome-anglescent">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/about-img.png?v=1662537267" alt="about-img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2>About Angelscent</h2>
                    <p>Angelscent Candles has accepted the "calling" to becoming a constant reminder to humans, that while your busy "being" human that you are also light! Our candles provide a natural source of energy along with essentials of love and so do YOU!</p>
                    <p>Essential oils infused into the candles are a metaphor for giving essentials needed for living life.. Each of our candles will radiate light as do you!</p>
                    <p>So it is Angelscent Candles intentions to remind you of the light that constantly shines within you.</p>
                </div>
            </div>
        </div>
    </div>
</section>



{% schema %}
  {
    "name": "About Angelscent",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}