  <section class="about-us self-sustained-main shop-in-light-in">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="about-img">
                      <img src="images/shop-in-light-in.png" alt="shop-in-light-in.png">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="about-text-col">
                      <h2>IN-LIGHT-IN</h2>
                      <h4>$111.11</h4>
                      <p>IN-Light-IN is for those times when you want to summon the light within. When it's time for you to just be with you!</p>
                      <div class="shop-add-to-cart">
                          <a href="#">Shop Now</a>
                          <button class="add-to-cart">Add To Cart</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}