  <section class="home-banner shop-banner" loading="lazyy" style="background-image: url('{{ collection.image | img_url : "master" }}')">
      <div class="container">
          <div class="home-text">
              <h2> {{ collection.title }} </h2>
              <p> {{ collection.description }} </p>
          </div>
          <div class="arrow-down">
              <a href="#welcome-anglescent"><img src="images/shop-arrow-down.png" alt="shop-arrow-down"></a>
          </div>
      </div>
  </section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}