<section loading="lazy" class="home-banner shop-banner" style="background-image: url('{{ section.settings.image | img_url : 'master' }}')">
        <div class="container">
            <div class="home-text">
                <h2> {{ page.title }} </h2>
                <p class="rte">
                  {{ page.content }}
                </p>
            </div>
            <div class="arrow-down">
                <a href="#welcome-anglescent"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/shop-arrow-down.png?v=1662705545" alt="shop-arrow-down"></a>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Banner",
    "settings": 
    [
      {
          "type": "image_picker",
          "id": "image",
            "label": "Background Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}