<section class="angelscent-candle" style="background-image:url('https://cdn.shopify.com/s/files/1/0661/8379/0813/files/angelscent-bg.png?v=1662641474')">
  <div class="container">
      <div class="angelscent-candle-text">
          <h2>Angelscent Candles</h2>
          <p>The candles are meant to be a direct representation of US!!! We are Light energy and we possess
              something inside of ourselves that causes light and our ability to be lit just like a wick. We are a
              lot like Candles which is the reason I have chosen and been chosen to help each of you find your
              LIGHT!!!</p>
      </div>
  </div>
</section>
{% schema %}
  {
    "name": "Angelscent Candle",
    "settings": [
      
    ],
    "presets":[
      {
        "name":"Angelscent Candle",
        "category":"Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}