<section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text-col">
                        <h2>About Us</h2>
                        <p>The purpose of Angelscent Candles is to be a constant reminder and I do mean "reminder"
                            because each of us knows but may forget, that we possess everything we need inside of
                            ourselves to do, be or have anything that we so desire to experience while on this
                            dimension.</p>
                        <a href="about.html">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/about-img.png?v=1662537267" alt="about-img">
                    </div>
                </div>
            </div>
        </div>
    </section>


{% schema %}
  {
    "name": "About Section",
    "settings": [
    ],
    "presets":[
      {
        "name":"About Section",
        "category":"Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}