<footer style="background-image: url('https://cdn.shopify.com/s/files/1/0661/8379/0813/files/footer-bg.png?v=1662642116')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-text-col">
                    <a href="index.html" class="footer-logo">
                        <img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/footer-logo.png?v=1662642191" alt="footer-logo">
                    </a>
                    <p>“The need for connection and community is primal, as fundamental as the need for air, water,
                        and food.”</p>
                    <h4>– Dean Ornish</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="quicks-link-col">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-6 f-newsletter-col
                    ">
                        <div class="newsletter-text-social-col">
                            <h5>Newsletter</h5>
                            <p>Subscribe to our sales newsletter to stay up to date with our latest products &
                                services</p>
                            <form>
                                <div class="newsletter-form">
                                    <div class="input-news">
                                        <input type="email" placeholder="Email Address">
                                        <input type="submit" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                            <div class="f-social-links">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="quicks-links">
                            <h5>Opening Time</h5>
                            <ul>
                                <li>Mon - Fri: 8AM - 10PM</li>
                                <li>Sat: 9AM-8PM</li>
                                <li>Sun: Closed</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="quicks-links">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="#">God’s Country</a></li>
                                <li><a href="#">In-Light-In</a></li>
                                <li><a href="#">Little blessings</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="quicks-links">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copywrite-text">
        <div class="container">
            <p>Copyright © 2019 AngelScentC All rights reserved.</p>
        </div>
    </div>
</footer>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}