<section class="product-tabs-video-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-navs-col">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-description" type="button" role="tab"
                                aria-controls="pills-description" aria-selected="true">Description</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-features-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-features" type="button" role="tab" aria-controls="pills-features"
                                aria-selected="false">Features</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-speecs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-speecs" type="button" role="tab" aria-controls="pills-speecs"
                                aria-selected="false">Speecs</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-faq-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-faq" type="button" role="tab" aria-controls="pills-faq"
                                aria-selected="false">FAQ</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
                            aria-labelledby="pills-description-tab" tabindex="0">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>

                            <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.</p>

                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-features" role="tabpanel"
                            aria-labelledby="pills-features-tab" tabindex="0">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>

                            <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.</p>

                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-speecs" role="tabpanel" aria-labelledby="pills-speecs-tab"
                            tabindex="0">
                            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                velit..."</p>
                            <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply
                                because it is pain..."</p>
                            <ul class="speecs-list">
                                <li>Lorem ipsum</li>
                                <li>Dolor sit amet
                                <li>Consectetur</li>
                                <li>Adipiscing elit</li>
                                <li>Donec non</li>
                                <li>Turpis orci.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab"
                            tabindex="0">
                            <div class="product-faqs">
                                <h6>Q: Where can I find your warranty policy?</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                <h6>Q: Will I be charged for an exchange?</h6>
                                <p>A: "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
                                <h6>Q: How long will it take for my order to arrive after I make payment?</h6>
                                <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-detail-video" style="background-image: url('images/product-detail-video-bg.png');">
                    <a href="#"><img src="images/video-icon.png" alt="video-icon"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Description Tabs",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}