<section class="about-us self-sustained-main shop-in-light-in product-detail-shop-rows">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="images/inlight-in-candle.png" alt="shop-in-light-in.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2>IN-LIGHT-IN Candle</h2>

                    <p>IN-Light-IN is for those times when you want to summon the light within. When it's time for you
                        to just be with you!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="images/features-img.png" alt="shop-in-light-in.png">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2>Features</h2>

                    <p>IN-Light-IN is for those times when you want to summon the light within. When it's time for you
                        to just be with you!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Featured Rows",
    "settings": [],
    "blocks":
    [
        {
            "type" : "featured",
            "name" : "Row",
            "settings":
            [
                {
                    "type" : "text",
                    "id" : "heading",
                    "label" : "Heading"
                },
                {
                    "type" : "textarea",
                    "id" : "info",
                    "label" : "Description"
                },
                {
                    "type" : "image_picker",
                    "id" : "image",
                    "label" : "Image"
                }
            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}