<section class="about-us self-sustained-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/self-sustained-img.png?v=1662641910" alt="self-sustained-img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2>Self Sustained</h2>
                    <h4>$111.11</h4>
                    <p>This set is to remind you that you are always self sustained! Like this set, composed of
                        recycled food cans, soy wax, scented by essential oils inside a beautiful unstained wood
                        box.</p>
                    <div class="shop-add-to-cart">
                        <a href="shop.html">Shop Now</a>
                        <button class="add-to-cart">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="https://cdn.shopify.com/s/files/1/0661/8379/0813/files/gods-gift-img.png?v=1662641949" alt="gods-gift-img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-col">
                    <h2>Gods Gift</h2>
                    <h4>$111.11</h4>
                    <p>Use Gods gift soy wax candle set when you need to uplift & ground yourself. Submerge your
                        atmosphere in the essence of Ylang Ylang to boost your mood while the aroma of Cinnamon &
                        sweet orange engulfs the space you occupy.</p>
                    <div class="shop-add-to-cart">
                        <a href="shop.html">Shop Now</a>
                        <button class="add-to-cart">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% schema %}
  {
    "name": "Self Sustained Gods Gift",
    "settings": [],
    "presets":[
      {
        "name":"Self Sustained  Gods Gift",
        "category":"Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}